<a href="https://colab.research.google.com/github/YahiaML/Codes-I-loved/blob/main/Codes_I_loved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**A - G**
###A, B, C, D, E, F, G

##Display categorical columns' statistics

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/YahiaML/TMDb-movies-data-investigation/main/tmdb-movies.csv")
df.describe(include = ["object"])

#Freq represent how many times that most frequent element was seen

,imdb_id,original_title,cast,homepage,director,tagline,keywords,overview,genres,production_companies,release_date
count,10856,10866,10790,2936,10822,8042,9373,10862,10843,9836,10866
unique,10855,10571,10719,2896,5067,7997,8804,10847,2039,7445,5909
top,tt0411951,Hamlet,Louis C.K.,http://www.thehungergames.movie/,Woody Allen,Based on a true story.,woman director,No overview found.,Comedy,Paramount Pictures,1/1/09
freq,2,4,6,4,45,5,134,13,712,156,28

##Dictionaries intersections

In [ ]:
# cancer-fighting foods
cf = {"basil", "berries", "broccoli", "curcume", "garlic", "kale", "oranges", "seeds", "spinach", "sprouts"} 
# blood pressure reducing foods 
bf = {"bananas", "berries", "fish", "garlic", "kale", "red beets", "salmon", "seeds", "spinach", "yogurt"} 
print(cf & bf)

{'seeds', 'garlic', 'spinach', 'kale', 'berries'}

##End

In [ ]:
print("Yahia", end ="")
print("_ML")

Yahia_ML

##Find a string index

In [ ]:
"""To check whether a string s1 contains another string s2, you can use the method find(). This method is slightly more powerful than the Python "in" keyword because it also returns the index of the searched substring (instead of returning only a Boolean value).

If the substring does not exist, the find() method returns the index -1. You have to be careful to handle this return value properly.

The puzzle shows how you can specify the start and stop indices to limit the search to a certain (index) range."""

s1 = "Ronaldo is better than Messi" 
print(s1.find("Ronaldo", 5)) 
print(s1.find("Football")) 
print(s1.find("Messi", 5, 100)) # returns 23 becausethe first litter is in the index num 23

#**H - N**
###H, I, J, K, L, M, N

##Join a list

In [ ]:
string = 'ppy!' 
fruit = 'a'.join(list(string)) 
print(fruit)

papaya!

## If case in Return

In [ ]:
def BracketMatcher(str):

  count = 0
  for c in str:
    if c == '(':
      count += 1
    elif c == ')':
      count -= 1
    if count < 0: return 0

  return 1 if count == 0 else 0

# keep this function call here 
print(BracketMatcher(input()))

##Lambda

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2) # save 2 in a

print(mydoubler(11)) # n = 11

22

## Nested comprehension

In [ ]:
def BracketMatcher(strArr):  # 1 is true 0 false
    n=0
    for c in strArr:
        n=n+(1 if c=='(' else (-1 if c== ')' else 0))
        if n<0: return 0
    return 1 if n==0 else 0


# keep this function call here 
print(BracketMatcher(input()))

#**O - T**
### O, P, Q, R, S, T, U

##Print a pragraph

In [ ]:
print('''\
A
B
C
''' )

A
B
C

##print list contents without for loop

In [ ]:
l = [1,2,3,4,5,6,7]
print(*l)

def op(arg1, arg2):
  return arg1 + arg2 
  
args = [] 
args.append(3) 
args.append(5) 
print(op(*args))

1 2 3 4 5 6 7
8

##Progress bar

In [ ]:
import sys

sys.stdout.write('\r')
# the exact output you're looking for:
sys.stdout.write("[{:{}}] {:.1f}%".format("="*i, n-1, (101/(n-1)*i)))  # n = number of loops (in range(n))
sys.stdout.flush()

##Regix with re

In [ ]:
import re 
regex = "e." #the number of points represents the number of letters you want to escape
string = "Spiderman" 
result = re.split(regex, string) 
print(result[1])

In [ ]:
import re 
words = ['computer', 'car', 'cat', 'cow', 'crow', 'window', "way"] 
result = [w for w in words if re.match('.*w$', w)] # Check if the word ends with w
#result = [w for w in words if re.match('w.*$', w)]  # Check if the word starts with w
#result = [w for w in words if re.match('.*w.*$', w)]  # Check if the word cantains w
#result = [w for w in words if re.match('..w$', w)] # Check if the word cantains w and exactly 2 charecters before it
print(result)
print(len(result))

##Sort a list with respect to another list

In [ ]:
import numpy as np
## Data: SAT scores for different students 
sat_scores = np.array([1440, 1256, 1543, 1043, 989, 1412, 1343]) 
students = np.array(["John", "Bob", "Alice", "Joe", "Jane", "Frank", "Carl"]) 
top_3 = students[np.argsort(sat_scores)][:-4:-1] 
desc_order = students[np.argsort(sat_scores)][::-1] 
asc_order = students[np.argsort(sat_scores)]

print(top_3[0]) 
print(top_3[1]) 
print(top_3[2])
print(desc_order)
print(asc_order)
#Alice
#John
#Frank

Alice
John
Frank
['Alice' 'John' 'Frank' 'Carl' 'Bob' 'Joe' 'Jane']
['Jane' 'Joe' 'Bob' 'Carl' 'Frank' 'John' 'Alice']

##Tuple in list

In [ ]:
bag = [ 
# (item, price, amount) 
 ('apple', 1.0, 4),
 ('banana', 1.5, 2), 
 ('cheese', 0.5, 1),
 ('milk', 1.0, 5) 
 ] 

total_price = sum([price * amount for item, price, amount in bag]) 
print(total_price)

#**V - Z**
### V, W, X, Y, Z